/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-breadcrumb__inner.is-link, .el-breadcrumb__inner a {
	color: #34335B;
}
.el-breadcrumb__inner.is-link:hover, .el-breadcrumb__inner a:hover {
	color: #FF7D00;
}
.el-input {
	.el-input__inner::placeholder {
		color: #999999;
	}
	 /* 谷歌 */
	.el-input__inner::-webkit-input-placeholder {
		color: #999999;
	}
	 /* 火狐 */
	.el-input__inner:-moz-placeholder {
		color: #999999;
	}
	 /*ie*/
	.el-input__inner:-ms-input-placeholder {
		color: #999999;
	}
	.el-input__icon {
		color: #666666;
	}
}

.el-input__inner {
  border: 1px solid #D9D9D9;
}
.el-input__inner:focus,.el-input__inner:hover {
	border-color: #FF8C00 !important;
}
.el-table {
	.cell {
		font-size: 14px;
		line-height: 20px;
	}
	&.el-table--medium th{
		padding: 20px 0px;
		color: #9596AB;
	}
	&.el-table--medium td {
		padding: 15px 0px;
		color: #34335B;
	}
}
.el-button--primary {
  background-color: #0079FE;
}
.el-date-picker {
  .el-date-picker__header {
    button:hover,.el-date-picker__header-label:hover {
      color: #0079FE !important;
    }

  }
}
.el-table-column--selection .cell {
  padding-left: 10px;
}
.el-date-table {
  td.today span {
    color: #E89003;
  }
  td.current:not(.disabled) span {
    background-color: #0079FE;
  }
  .available:hover {
    color: #0079FE !important;
  }
}
.el-radio {
  .el-radio__input.is-checked .el-radio__inner {
    background-color: #FFFFFF;
  }
  .el-radio__input.is-checked .el-radio__inner::after {
    width: 6px;
    height: 6px;
    background-color: #0079FE;
  }

  .el-radio__label {
    color: #34335B;
  }
  .el-radio__input.is-checked+.el-radio__label {
    color: #34335B;
  }
}

.el-pagination {
	text-align: right;
	margin-top: 60px;
	font-size: 14px;
	.el-pager li {
		color: #606266;
		font-size: 14px;
		font-weight: 400;
	}
	.el-pager li.active {
		color: #FF8C00;
	}
	.el-pager li:hover {
		color: #FF8C00;
	}
	.el-input__inner {
		border-radius: 3px;
	}
	.btn-prev,.btn-next {
		color: #606266;
	}
	button:disabled {
		color: #C0C4CC;
	}
	.el-pagination__editor {
		margin: 0px 4px;
	}
	span:not([class*=suffix]),button {
		font-size: 14px;
	}
}
.el-dialog__body {
  padding: 0px 24px;
}
.el-dialog__header {
  padding: 16px 24px;
}
.el-dropdown-menu__item--divided {
  border: 0px;
}
.el-dropdown-menu--medium .el-dropdown-menu__item.el-dropdown-menu__item--divided {
  margin-top: 0px;
}
.el-dropdown-menu--medium .el-dropdown-menu__item.el-dropdown-menu__item--divided:before {
  height: 0px;
}
